html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: arial;
}

#main {
	min-height: 350px;
	margin-bottom: 150px;
}

footer {
	height: 300px;
	width: 100%;
	text-align: center;
	background-color: #494e5d;
	color: white;
	position: relative;
}

	footer .footer-content {
		height: 250px;
	}

	footer .footer-bottom {
		height: 50px;
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 0px;
		left: 0px;
		padding-top: 20px;
	}

.outer {
	margin-top: 100px;
}

.modal-header, h4, .close {
	background-color: #5cb85c;
	color: white !important;
	text-align: center;
	font-size: 30px;
}

.modal-footer {
	background-color: #f9f9f9;
}
